<div class = "container" style = "width:80%" >
  <div class= "row">
    <div class = "col-md-offset-2 col-md-8 projectCase">
      <a href="assets/project1.1.png" data-fancybox="images-preview">
        <img src="assets/project1.1.png" class = "projectImage"/>
      </a>
      <div style="display: none;">
        <a href="assets/project1.2.png" data-fancybox="images-preview"
        data-thumb="assets/project1.2.png"></a>
        <a href="assets/project1.3.png" data-fancybox="images-preview"
        data-thumb="assets/project1.3.png"></a>
      </div>
    </div>
  </div>
</div>
