<div class = "row">
  <div class = "col-md-3 col-md-offset-1">
    <%= image_tag('me.jpg', id: "photo") %>
  </div>
  <div class = "col-md-6 col-md-offset-1">
    <h3 style = "margin: 0% 0% 2% 0%;">Qui suis-je?</h3>
    <p>
      Prochainement en deuxième année de BTS Services Informatique aux
      Organisations à HITEMA je suis passionné d’informatique, ayant une fibre
      artistique et le sens du contact. J’ai choisi ce métier parce que j’ai
      toujours été attiré par les innovations technologiques.
    </p>
    <h3>Parcours scolaire</h3>

      <p>
        2016 - 2017 : 1ère année de BTS SIO (Service informatique aux
        organisations) à HITEMA (92130)
      </p>
      <p>
        2015 - 2016 : Baccalauréat ES (École auprès de l'ambassade de Russie
        en France) à Paris (75016)
      </p>

  </div>
</div>
<div class = "row">
  <div class = "col-md-offset-1 col-md-4">
    <h3>Compétences</h3>

      <p>
        Langage de programmation : HTML5, CSS, PHP, Java, Ruby, JavaScript
      </p>
      <p>
        Framework:  Foundation, Boodstrap, jQuery, Ruby on rails
      </p>
      <p>
        Base de données : MySQL
      </p>
      <p>
        Outils : WordPress, Modélisation UML, Android Studio
      </p>
      <p>
        Russe : bilingue ; Anglais : Niveau intermédiaire
      </p>

  </div>
  <div class = "col-md-offset-1 col-md-4">
    <h3>Stages & Formations</h3>
      <p>
        6 juin - 7 juillet 2017 : Développement d'un site web avec responsive design
      </p>
      <p>
        7 juillet - 16 septembre 2017: Formation ‘The Hacking Project’
      </p>
  </div>
</div>
<div class = "row">
  <div class = "col-md-offset-1 col-md-11">
    <h3>Centre d'interets</h3>
  </div>
</div>
