<div class ="container" style = "width:100%" id = "aproposdemoi">
  <div class = "row">
    <div class = "col-md-12 titreContainer">
      <h2>QUI SUIS JE?</h2>
    </div>
  </div>
</div>
  <%= render 'pages/aproposdemoi' %>
<div class ="container" style = "width:100%" id = "mesprojets">
  <div class = "row">
    <div class = "col-md-12 titreContainer" >
      <h2>MES PROJETS </h2>
    </div>
  </div>
</div>
<%= render 'pages/projets' %>
<div class ="container" style = "width:100%" id= "contacts">
  <div class = "row">
    <div class = "col-md-12 titreContainer">
      <h2>CONTACTS</h2>
    </div>
  </div>
</div>
  <%= render 'pages/contacts' %>
<script>
$(document).ready(function(){
  $("#menu").on("click","a", function (event) {
      event.preventDefault();
      var id  = $(this).attr('href'),
          top = $(id).offset().top;
      $('body,html').animate({scrollTop: top}, 500);
  });
});

</script>
