<div class = "container">
  <div class = "row">
    <div class = "col-md-4">

    </div>
    <div class = "col-md-8">
      <h3>Qui est-je?</h3>
      <p>Je m'appelle VASYUK MIKHAIL</p>
      <h3>Mes farmations</h3>
      <p>Je m'appelle VASYUK MIKHAIL</p>
    </div>
  </div>
</div>
