<div class ="row centerd info">
  <p>ADRESS : 83, RUE ALBERT SARRAUT</br>VERSAILLES, FRANCE, 78000</p>
  <p>EMAIL : mikhail.vasyuk@gmail.com</p>
  <p>GitHub : Vasuk</p>
  <p>NUMERO : +33633841466</p>
</div>
