@import "bootstrap-sprockets";
@import "bootstrap";

@media (max-width: 767px){
  .menu{
    display: none;
  }
  .navbar{
    display: block;
  }
  .container{
    padding-left: 0%;
  }
}

@media (min-width: 768px){
  .menu{
    display: none;
  }
  .navbar{
    display: block;
  }
  .container{
    padding-left: 0%;
  }
}

@media (min-width: 992px){
  .menu{
    display: block;
  }
  .navbar{
    display: none;
  }
  .container{
    padding-left: 21%;
  }
}

body{
  font-family: 'Contrail One', cursive;
  background-color: transparent;
  width: 100%;
  color: white;
  background-image: url('kale-salad.jpg');
}




a{
  text-decoration: none !important;

}

li{
  list-style-type: none;
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
}

p, li, a{
  font-size: 17px;
  text-align: justify;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.4em;
  color: white;
  font-family: 'Dancing Script', cursive;
  padding-top: 2px;
  padding-left: 10px;
  &:hover {
    text-decoration: none;
  }
}

.menuLinks{
  margin: 5% auto;
  width: 110px;

}

.btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: yellowgreen;
}

.cvLm{
  width: 100px;
  background-color: transparent;
}

.imageCompBig{
  width: 40%;
}

.imageComp{
  width: 10%;
}

.menuLink{
  margin-right: 2%;
}

.global {
  margin-left: auto;
  margin-right: auto;
  width: 20%; /* largeur obligatoire pour être centré */
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project{
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin: 1% 0% 1% 0%
}

.projectButtom{
  margin-top:10%;
}

.photoProject{
  width: 100%;

}



.contacts{
  margin-top: 2%;
  margin-bottom: 2%;
}

.allProject .col-md-4{
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}



.navbar-default{
  background-color:transparent;
  border: none;
  margin: 0px;
}

h3, h4, p, h1{
  text-align: center;
}


.projectPhoto{
  width: 100%;
}

.titreProject{
  font-size: 40px;
  color: white;
}

.projectImage{
    width: 100%;

}

.projectCase{
  margin-top: 1%;
  margin-bottom: 1%;
}

.bI{
  background-image: url('shattered-island.gif');
}

.titreContainer{
  border-radius: 5px;
  text-align: center;
  background-color: navy;
  margin: 1%;
  padding: 1%;
}

.about{
  margin-top: 6%;
}

.qSJ{
  border-radius: 5px;
}

.un{
  margin-bottom: 2%;
}

.deux{
  margin-right: 8%;
}

.trois{
  margin-top: 2%;
}
.contactsPad{
  padding: 5%;
  height: 400px;
}

/* menu*/

.menu{
  position: fixed; /* Фиксированное положение */
  width: 20%;
  height: 100vh;
  border-right: 1px dashed #333; /* Параметры рамки */
}

  #menuh1{
    text-align: center;
    padding-top:5%;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
  }

  .menusBtn{
    padding-top: 40%;
    text-align: center;
  }

.menusCvLm{
  padding-top: 15%;
  text-align: center;
}

.btn-primary:hover{
  background-image: url('kale-salad.jpg');
}

.menuCvLm{
  margin: 2%;
  font-family: 'Contrail One', cursive;
  border: 1px groove red;
  width: 140px;
  a{
    padding: 5%;
    font-size: 20px;
    color: white;
    height: 100%;
    display: block;
    text-align: center;
  }
}

.menuBtn{
  margin: 7%;
  font-family: 'Contrail One', cursive;
  border: 1px groove yellowgreen;
  width: 180px;
  a{
    padding: 5%;
    font-size: 20px;
    color: white;
    height: 100%;
    display: block;
    text-align: center;
  }
}
