@import "bootstrap-sprockets";
@import "bootstrap";

body{
  font-family: 'Contrail One', cursive;
  background-color: transparent;
  width: 100%;
  color: white;
  background-image: url('kale-salad.jpg');
}


.container{
  padding-left: 21%;
}

a{
  text-decoration: none !important;

}

li{
   list-style-type: none;
}

p, li, a{
  font-size: 17px;
  text-align: justify;
}


.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project{
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin: 1% 0% 1% 0%
}

.projectButtom{
  margin-top:10%;
}

.photoProject{
  width: 100%;

}



.contacts{
  margin-top: 2%;
  margin-bottom: 2%;
}

.allProject .col-md-4{
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}



.navbar-default{
  background-color:transparent;
  border: none;
  margin: 0px;
}

h3, h4, p, h1{
  text-align: center;
}


.projectPhoto{
  width: 100%;
}

.titreProject{
  font-size: 40px;
  color: white;
}

.projectImage{
    width: 100%;

}

.projectCase{
  margin-top: 1%;
  margin-bottom: 1%;
}

.bI{
  background-image: url('shattered-island.gif');
}

.titreContainer{
  border-radius: 20px;
  text-align: center;
  background-color: navy;
  margin: 1%;
  padding: 1%;
}

.about{
  margin-top: 6%;
}

.qSJ{
  border-radius: 5px;
}

.un{
  margin-bottom: 2%;
}

.deux{
  margin-right: 8%;
}

.contactsPad{
  padding: 5%;
  height: 400px;
}

/* menu*/

.menu{
  position: fixed; /* Фиксированное положение */
  width: 20%;
  height: 100vh;
  border-right: 1px dashed #333; /* Параметры рамки */
}

  #menuh1{
    text-align: center;
    padding-top:5%;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
  }

  #menusBtn{
    padding-top: 40%;
    text-align: center;

  }





  #menuADM{

  }

  #menuMP{

  }

  #menuC{

  }

.menuBtn{
  margin: 10%;
  padding: 5%;
  font-family: 'Contrail One', cursive;
  border: 1px dashed white;
  border-radius: 20px;
  a{
    font-size: 18px;
    color: white;
  }
}
