<div class="menu bI" id = 'menu'>
  <h1 id = "menuh1">Vasyuk Mikhaïl</h1>
  <div id = "menusBtn">
    <div class = "menuBtn" id="menuADM">
      <a href="#aproposdemoi" >A PROPOS DE MOI</a>
    </div>
    <div class = "menuBtn" id="menuMP">
      <a href="#mesprojets">MES PROJETS</a>
    </div>
    <div class = "menuBtn" id="menuC">
      <a href="#contacts">ME CONTACTER</a>
    </div>
  </div>
</div>
